.App {
  text-align: center;
}

.navbar-wrapper {
  width: 100vw;
  height: 40px;
  background-color: #3D3D3D;
  display: flex;
  align-items: center;
}

.menu {
  margin-left: auto;
  display: flex;
  padding-right: 16px;
  height: 100%;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
