.App {
  text-align: center;
}

.navbar-wrapper {
  width: 100vw;
  height: 40px;
  background-color: #3D3D3D;
  display: flex;
  align-items: center;
}

.menu {
  margin-left: auto;
  display: flex;
  padding-right: 16px;
  height: 100%;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.logo-wrapper {
  width: 100%;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 75vw;
  height: 75vw;
  max-width: 264px;
  max-height: 264px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 180px;
}

.tag-wrapper {
  display: flex;
  flex-direction: column;
}

h3.tagline {
  font-size: 22px;
  color: #474747;
  font-family: Roboto;
  margin-bottom: 16px;
}

.bee-icon {
  width: 80%;
  height: 80%;
  opacity: 0.75;
} 

p.sub-tagline {
  margin-top: -20px;
  margin-left: auto;
  margin-right: -2.5px;
  font-size: 14px;
  opacity: 0.7;
  font-style: italic;
}

.locate-card {
  width: 100%;
  background-color: transparent !important;
  border: none !important;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed !important;
  bottom: 64px;
}

.locate-button.icon {
  z-index: 99;
  color: #474747;
  font-size: 23px;
}

.locate-button {
  position: relative;
  margin: 0 auto;
  background:rgba(255, 255, 255, .95);
  border-radius: 10px;
  height: 100px;
  width: 64px;
  transition: all .5s;
  border: none;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.26); 
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.26);
}

.icon {
  z-index: 1;
  color: #ec9664;
  font-size: 36px;
  position: relative;
  margin-left: -3px;
  margin-top: 3px;
}

.locate-button:before, .locate-button:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  background:inherit;
  border-radius:inherit;
  height:100%;
  width:100%;
  top:0;
  left:0;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.26); 
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.26);
}

.locate-button:before {
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  transform:rotate(60deg);
  transition:all 1s 0.5s;
}

.locate-button:after {
  -webkit-transform:rotate(-60deg);
  -moz-transform:rotate(-60deg);
  transform:rotate(-60deg);
  transition:all 1s 1s;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  /* top: 45%; */
  position: relative;
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 18px;
  right: 15px;
  top: 11px;
  background-color: #ffd15a;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bee-line-break {
  border-bottom: 1px solid rgba(255, 255, 255, 0.301);
  width: 100%;
  margin-bottom: 20px;
}